.card {
    background-color: #C9C9C9;
    color: #000000;
    width: 25rem;
    height: 20vh;
    & .card-body {
        height: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        & h3 {
            text-align: center;
        }
    }
    & .card-footer {
        display: flex;
        height: calc(20vh - 60%);
        justify-content: space-around;
        align-items: center;
    }
}